* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Da', cursive;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    box-shadow: 10px 10px 15px #242323a4;
}

canvas {
    position: absolute;
}