*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    display: grid;
}
  div.wrapper{
  grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr .5fr .5fr  .5fr  .5fr  .5fr .5fr ;
  display:grid;
  grid-auto-rows:minmax(90px,auto);
  grid-gap: 1em;
}
.w1{
  background: black;
grid-column: 1/13;
  grid-row: 2/3;
}
.w1 h1{
  color:white;
  text-align: center;
  font-size: 270%;
  margin-top: .5em;
}
.w5{
  grid-column: 1/13;
  grid-row: 10/11;
  background: #c3c3c3;
}
.w2{
  margin: 1em;
grid-column: 1/13;
grid-row: 3/10;
background:red;
}
.w3{
  grid-column: 1/2;
  grid-row: 3/10;
  background: black;
  margin: 1.5em;
}
